
.App {
	box-sizing: border-box;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	padding-top: 32px;
	padding: 32px;
	background-color: #fefbe9;
  }
  h2 {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
  }
img {
	border-radius: 10%;
	margin: 8px ;
}
td {
	border: 0.5px solid black;
	border-radius: 2px;
}
th {
	margin-top: 48px;
	border: 0.5px solid black;
	border-radius: 2px;
}
.selected {
	background-color: #f6c453  ;
  }

.character-details {
	position:  sticky;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	top: 0;
	right: 0;
	width: 300px; /* Adjust the width as needed */
	height: 200px; /* Adjust the height as needed */
	background-color: #fefbe9; /* Adjust the background color as needed */
	padding: 20px;
	align-items: flex-start;
  }
  	
.character-details img {
	width: 100px;
	margin: 18px auto;
	}
	p {
		margin: 8px 24px
	}
	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
	}

button {
	background-color: #e1eedd;
	border-radius: 6px ;
}
@media (max-width: 767px) {
	.App {
		flex-direction: column;
		padding: 4px;
		overflow: auto;
	}
	
	.character-details {
		position: fixed;
		top: 15%;
		right: 1%;
		width: 75%;
		height: 80vh;
		background-color: rgba(19, 30, 124, 0.919);
		box-sizing: border-box;
		color: azure;
		border-radius: 10px;
	}
	
	h2 {
		font-size: 20px;
	}

	.character-details p {
		font-size: 14px;
	}
	img {
		margin: 0 auto;
	}
}
