/* * {
	background-color:antiquewhite;
} */
.App {
	box-sizing: border-box;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	padding-top: 32px;
	padding: 32px;
	background-color: aliceblue;
  }
  h2 {
	margin: 0 auto;
  }
img {
	border-radius: 10%;
	margin: 8px ;
}
td {
	border: 0.5px solid black;
	border-radius: 2px;
}
th {
	margin-top: 48px;
	border: 0.5px solid black;
	border-radius: 2px;
}
.selected {
	background-color: yellow ;
  }
  .character-details {
	position:  sticky;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	right: 0;
	width: 300px; /* Adjust the width as needed */
	height: 200px; /* Adjust the height as needed */
	background-color: aliceblue; /* Adjust the background color as needed */
	padding: 20px;
	box-sizing: border-box;
	align-items: flex-start;
  }
  .character-details img {
	width: 100px;}

